<% provide(:title, "Frequently Asked Questions") %>

<h1 id = "faq_header">Frequently Asked Questions</h1>

<br />


<div class="accordion" id="accordionExample" style=" color: color: #3d1e1f">

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Q: How can I request an item?
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        The first step in rewuesting an item is becoming a member. On our login page you can create a new account and then proceed to request the item you want to be made.
        We will then look at the request, send you a design drawing and what the price of the manufacturing of the item will cost. 
        Once we have agreed on everything and all the necessary alterations are made we will start making your item.
      </div>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Q: How much does shipping cost?
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Shipping to all states except AK and HI includes a basic shipping fee of $5.00 plus an additional $1.00 per lbs. 
        Unfortunatley, because SoHan is still in its beginning stages, we currently only ship to addresses in the USA.   
      </div>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Q: What kind of items can you make?
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        Here at SoHan we do our best to make anything our customers can imagine! No matter how extravagant or minimalistic you want your clothing item to be, we can make it.
        We make can make anything from dresses, to socks, to headbands.
      </div>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Q: How long will it take for an item to be made?
        </button>
      </h2>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
        It takes us approximately 5 days to get a design drawing back to the customer and then another 2-5 weeks for processing time depending on what kind of item it is.      
      </div>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header" id="headingSix">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Q: Why do your items cost so much?
        </button>
      </h2>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
      <div class="card-body">
        At SoHan we only work with the best materials that we have shipped to us from all over the world. Not only are our materials very exclusive,
        we also make every piece by hand. All the extra care we put in your one-of-a-kind item causes the prices to be more than an item at a Fast Fashion company.
      </div>
    </div>
  </div>
</div>

<br /><br /><br /><br />
