<% provide(:title, "Home") %>

<h1 id="home_title">Home</h1>
<br />

<div class = "welcome_text" style = "font-family: "Georgia" ">
  <p>Welcome to SoHan! We are a design house that creates personal items upon request. Check out our Items made page for inspiration as to what we 
  can do. If you are interested in requesting a piece, create an account, and send in a request form, which can be found in the Account dropdown menu.</p>
</div>

<br />


  <div class="img_and_text" id="fist_card">
    <div class="home_img">
    <%= image_tag "blue.jpg"%>
    </div>
    <div class="text">
      <p>Winter Collection</p>
      <p>Made In 2020</p>
      <p class = "text_updated">Last Updated 2 Hours Ago</p>
    </div>
  </div>
  <div class="img_and_text">
    <div class="home_img">
    <%= image_tag "beaded.jpg"%>
    </div>
    <div class="text">
      <p>Spring Collection</p>
      <p>Spring 2020</p>
      <p class = "text_updated">Last Updated 7 Months Ago</p>
    </div>
  </div>
  <div class="img_and_text">
    <div class="home_img">
    <%= image_tag "velvet.jpg"%>
    </div>
    <div class="text">
      <p>Fall Collection</p>
      <p>Fall 2020</p>
      <p class = "text_updated">Last Updated 3 Months Ago</p>
    </div>
  </div>

</br> </br>
